page-login {
    
}

.brand-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: rgb(206, 206, 206);
}

.button-block-md {
    margin-bottom: 10px;
}

.content-md {
    background: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%);
}

.input-label {
    color: azure;
}

.button {
    background: transparent;
}

.button-outline-md {
    border-width: 0;
    color: #ffffff;
    float: right;
    padding-bottom: 5px;
}